a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    
}

/*CABEZERA*/
i{
    color: white;
    padding: 5px;
}
header{
    display: flex;
    align-items: center;
}
.logo{
   
    margin:1rem;
}
.submenu{
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-right: 1rem;
}
input{
    border: none;
    margin:0 3px
}
input::placeholder{
    color: white;
    font-weight: bold;
    
}
.menu{
    list-style: none;
}
.menu li{
    display: inline;
    padding: 0 2rem;
}
/*CUERPO*/
main{
    display: flex;
    flex-grow: 1;
}
h2{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
    margin: 10px;
}
.peliculas{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.fila{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    
}
.fila img{
    max-width: 100%;
} 


footer{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 150px;
}

@media (max-width: 768px){ 
    header{
        flex-direction: column;
    }
    .menu li{
        display: block;
        padding: 5px;
    }
    .fila{
        flex-direction: column;
        justify-content: space-between;
    }
    .fila img{
        flex-grow: 1;
        flex-basis: auto;
        flex-shrink: 1;
        padding: 5px;
        max-width: 100%;
        max-height: 100%;
    }
}
