a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
}

*{
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
    
}

/*CABEZERA*/
i{
    color: white;
    padding: 5px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin:1rem;
}
.submenu{
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.menu{
    list-style: none;
}
.menu li{
    display: inline;
    padding: 0 2rem;
}
/*CUERPO*/
main{
    display: flex;
    flex-grow: 1;
}
h2{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
    margin: 10px;
}
.peliculas{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fila{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    
}
.fila img{
  max-height: 90%;
  max-width: 90%;
  
  
}

footer{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 150px;
}